.splash-screen {
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
  align-items: center;
}

.bread-crumbs {
  padding-bottom: 10px;
}

.form-button-container {
  margin-top: 10px;
  text-align: center;
}
.form-button-container-side {
  margin-top: 10px;
}

.custom-titles {
  font-size: $subtitle-size;
  color: $main-color;
  margin: 15px 0;
}

.alert-width-controller {
  display: flex;
}
.alert-extra-padding {
  padding: 0 10px;
}

.centered-alert {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floater-container {
  display: flex;
  justify-content: space-between;
}

.floater {
  display: flex;
  padding: 5px 10px;
  background-color: $main-color;
  align-items: center;
  border-radius: 10px;
  .floater-label {
    color: white;
    margin-right: 10px;
  }
  .floater-value {
    padding: 4px 8px;
    background-color: white;
    border-radius: 10px;
    color: $main-color;
  }
}

.page-footer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  .page-footer-value {
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid $main-color;
  }
}

.custom-divider {
  margin: 20px 0;
}

.custom-footer {
  margin-top: 30px;
  height: 250px;
  background-color :$main-color;
}